@charset "utf-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#activeBack {
    position: relative;
    z-index: 1;
    min-height: 100%;
}

#activeBack:after {
    box-shadow: rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('http://d2dzfaqwlhqkso.cloudfront.net/cagong-ranking-project/img/home.jpg');
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8 !important;
    filter: alpha(opacity = 50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1400px;
    min-height: 500px;
    padding: 0px;
}

.mainShow {
    text-align: center;
}

.dohyeon {
    font-family: 'Do Hyeon', sans-serif;
}

#mainTitle, #showRank, .title h4, .title-rating h4 span, #jumbo h2 {
    color: white;
}

#mainTitle {
    font-size: 50px;
    padding-top: 100px;
}

#mainDescription {
    color: white;
    font-size: 20px;
    padding-top: 50px;
}

#mainSearch {
    padding: 50px;
}

#showRank {
    margin-top: 40px;
    font-size: 30px;
}

#main-row {
    padding-top: 100px;
}

.form-inline {
    margin: 0 auto;
}

.title {
    text-align: center;
}

.list-group {
    margin-top: 20px;
}

#btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btns button {
    width: 100px;
    margin: 10px 0px;
}

.content {
    margin-left: 50px;
}

.result-content {
    text-align: center;
}

.result-content ul li {
    margin: 10px 10px;
}

main .description h3 {
    font-size: 20px;
}

/* view.jsp의 jumbotron 배경 고정*/
#jumbo {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}